<!DOCTYPE html>
<html>
  <head>
    <meta content="9BC9690896" name="blogcatalog" />
    <title>$title$</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/css/mobile.css" media="only screen and (max-device-width: 600px)" rel="stylesheet" type="text/css" />
    <!--
        <link href="http://feeds.threebrothers.org/threebrothers/brendan" rel="alternate" title="Quod erat faciendum" type="application/atom+xml" />

    -->
  </head>
  <body onload="setTimeout('deferredLoad();', 5);">
    <div class="envelope">
      <div class="lbar">
        $partial("templates/menu.html")$
      </div>
      <div class="banner">
        <h1 class="title">Quod erat faciendum</h1>
        <h2>A technical blog by Brendan Ribera</h2>
        <p>
          You should <a rel="nofollow" href="http://twitter.com/abscondment">follow me</a> on Twitter, <a rel="nofollow" href="http://feeds.threebrothers.org/threebrothers/brendan">subscribe to the feed</a>, and <a rel="nofollow" href="https://github.com/abscondment">fork&nbsp;me</a>&nbsp;on&nbsp;Github.
        </p>
      </div>

      $body$

      <div>
        <a href="http://feeds.threebrothers.org/threebrothers/brendan">Get the feed <img alt="Feed" src="/images/feed.png" /></a>
      </div>
      <div class="footer">
        Copyright &copy; Brendan Ribera <span class='currentYear'></span>. This work is licensed as <a href="http://creativecommons.org/licenses/by-sa/3.0/us/" rel="license nofollow"><img alt="Creative Commons Attribution-Share Alike 3.0 United States License" src="/images/cc_by-sa_80x15.png" style="border-width:0;vertical-align:top;" /></a>
      </div>
    </div>
    <script src="/js/blog.js" type="text/javascript"></script>
  </body>
</html>
